In [4]:
l = [1,2,3,4]
sum = 0
for i in l:
    sum = sum+i
print(sum)

10

In [8]:
l1 = [1,2,3,4,5,6]
sum =1
for i in l1:
    sum = sum*i
print(sum)

720

In [62]:
l2 = [1,5,3,7,5,0]
max(l2)

7

In [63]:
l2 = [1,5,3,7,5,0]
min(l2)

0

In [61]:
l2 = [9,7, 5, 3, 8, 0]
l3 = l2[1:]
for i in l3:
    
    if i>l3[0]:
     
            
        print(i)

8

In [105]:
l3 = [12, 61, 41, 85, 40, 13, 77, 65, 100]
N = int(input("enter a number"))
l3.sort(reverse = True)
l4=l3[:N]
temp = []
for i in l4:

    temp.append(i)
    

temp

enter a number3

[100, 85, 77]

In [111]:
l5 = [1,2,3,4,5,6,7,8,9,10]
temp1 = []
for i in l5:
    if i%2 == 0:
        
        temp1.append(i)
    else:
        print(i,"is not an even number")
temp1

1 is not an even number
3 is not an even number
5 is not an even number
7 is not an even number
9 is not an even number

[2, 4, 6, 8, 10]

In [115]:
l5 = [1,2,3,4,5,6,7,8,9,10]
temp1 = []
for i in l5:
    if i%2 != 0:
        
        temp1.append(i)
    else:
        print(i,"is an even number")
temp1

2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number

[1, 3, 5, 7, 9]

In [130]:
my_list = [5, 6, [], 3, [], [], 9]
for i in my_list:
    if type(i) == list:
        my_list.remove(i)
        print(my_list)

[5, 6, 3, [], [], 9]
[5, 6, 3, [], 9]

In [125]:
my_list = [5, 6, [], 3, [], [], 9]
for i in my_list:
   
    if type(i) == list:
        my_list.remove(i)

In [133]:
original_list = [10, 22, 44, 23, 4]
new_list = list(original_list)
print(original_list)
print(new_list)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

In [137]:
# method 2
# importing copy module
import copy

# initializing list 1
li1 = [10, 22, 44, 23, 4]

# using copy for shallow copy
li2 = copy.copy(li1)

print(li2)
li1

[10, 22, 44, 23, 4]

[10, 22, 44, 23, 4]

In [148]:
l9 = [1,2,3,4,4,4,6,8,8,9,9,9,9,10]
n = int(input("enter the number u want u find"))
count = 0
for i in l9:
    if i== n:
        count = count +1
print(n,"has occured",count,"times")

enter the number u want u find9
9 has occured 4 times