In [3]:
test1 = "This is a test of the emergency text system"
filee = open('test.txt','w')
filee.write(test1)

43

In [9]:
file2 = open('test.txt','r')
test2 = file2.readline()
print(test2)

In [10]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

In [11]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

OperationalError: table books already exists

In [46]:
import pandas as pd
df = pd.read_csv("book.csv")
l=[{"rows =['title'":"wodds","'author'":"robert frost","'year']":"2021]"}]
df= df.append(l)
df=pd.DataFrame(df)
df

                         rows =['title'           'author' 'year']  Unnamed: 3
0      ['The Weirdstone of Brisingamen'      'Alan Garner'   1960]         NaN
1             ['Perdido Street Station'   'China Miéville'   2000]         NaN
2                              ['Thud!'  'Terry Pratchett'   2005]         NaN
3                 ['The Spellman Files'        'Lisa Lutz'   2007]         NaN
4                         ['Small Gods'  'Terry Pratchett'   1992]         NaN
0                                 wodds       robert frost   2021]         NaN

In [53]:
df = df.sort_values(by ="rows =['title'")
df

                         rows =['title'           'author' 'year']  Unnamed: 3
1             ['Perdido Street Station'   'China Miéville'   2000]         NaN
4                         ['Small Gods'  'Terry Pratchett'   1992]         NaN
3                 ['The Spellman Files'        'Lisa Lutz'   2007]         NaN
0      ['The Weirdstone of Brisingamen'      'Alan Garner'   1960]         NaN
2                              ['Thud!'  'Terry Pratchett'   2005]         NaN
0                                 wodds       robert frost   2021]         NaN

In [54]:
df =df.sort_values(by ="'year']")
df

                         rows =['title'           'author' 'year']  Unnamed: 3
0      ['The Weirdstone of Brisingamen'      'Alan Garner'   1960]         NaN
4                         ['Small Gods'  'Terry Pratchett'   1992]         NaN
1             ['Perdido Street Station'   'China Miéville'   2000]         NaN
2                              ['Thud!'  'Terry Pratchett'   2005]         NaN
3                 ['The Spellman Files'        'Lisa Lutz'   2007]         NaN
0                                 wodds       robert frost   2021]         NaN

In [55]:
d

                         rows =['title'           'author' 'year']  Unnamed: 3
0      ['The Weirdstone of Brisingamen'      'Alan Garner'   1960]         NaN
4                         ['Small Gods'  'Terry Pratchett'   1992]         NaN
1             ['Perdido Street Station'   'China Miéville'   2000]         NaN
2                              ['Thud!'  'Terry Pratchett'   2005]         NaN
3                 ['The Spellman Files'        'Lisa Lutz'   2007]         NaN
0                                 wodds       robert frost   2021]         NaN

In [56]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

In [57]:
!pip install redis
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

Requirement already satisfied: redis in c:\users\deboj\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\deboj\anaconda3\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: packaging>=20.4 in c:\users\deboj\anaconda3\lib\site-packages (from redis) (21.0)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\deboj\anaconda3\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\deboj\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\deboj\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

ConnectionError: Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.

In [58]:
conn.hincrby('test','count', 3)

ConnectionError: Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.