In [145]:
def is_symmetrical_num(n):
  return str(n) == str(n)[::-1]
print(is_symmetrical_num(121))
print(is_symmetrical_num(0))
print(is_symmetrical_num(122))
print(is_symmetrical_num(990099))

True
True
False
True

In [50]:
def sep(s):
    global sum
    
   
    for i in a:
        l.append(i)
    for j in l:
        j=int(j)
        sum = sum *j
    return sum
    
s = "2 , 3"
a = s.split(", ")
l=[]
sum = 1
sep(a)

6

In [115]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = [number ** 2 for number in numbers]

print(squared_numbers)

[1, 4, 9, 16, 25]

In [141]:
def dup(l):
    
    s = set(l)
    s= list(s)
    return s
    

l = [3,1,2,3,4,5,4]
dup(l)

[1, 2, 3, 4, 5]

In [144]:
sum = 0
def mean(l):
    global sum
    for i in l:
        sum =  sum +i
    return sum/len(l)
l = [1,5,6,7,8,9]
mean(l)

6.0